<nav class="main-nav">
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('hello', {'name': 'user'}) }}">Hello</a></li>
        <li><a href="{{ path('about') }}">À propos</a></li>
        <li><a href="{{ path('random') }}">Citation</a></li>
        <li><a href="{{ path('articles') }}">Articles</a></li>
        <li><a href="{{ path('form') }}">Form</a></li>
    </ul>
</nav>